<div>
  <h3>Top viewing Game on Twitch</h3>
  <div class="row align-items-center container" id="top-games">
    {{!-- <div class="col-3">
      <div class="card"><a href="https://www.twitch.tv/directory/game/Grand%20Theft%20Auto%20V"><img class="card-img-top" src="https://static-cdn.jtvnw.net/ttv-boxart/FIFA%2021-300x400.jpg"></a>
        <div class="card-body">
          <p class="card-text">FIFA 21</p>
        </div>
      </div>
    </div> --}}
  </div>
  <div class="d-flex justify-content-center">
    <button id="lessThan">&lt;</button><button id="greatThan">&gt;</button>
  </div>
</div>

<script src="/javascript/topGames.js"></script>