<div class="justify-content-center" >
  <h3>Top Games on Twitch  <i class="fab fa-twitch"></i></h3>
  <div class="row container mx-auto" id="top-games">
  </div>
  <div class="d-flex justify-content-center p-4">
    <button class="mr-2" id="lessThan">&lt;</button>
    <button id="greatThan">&gt;</button>
  </div>
</div>

<script src="/javascript/topGames.js"></script>