<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloc | Game Reviews by (Real) Gamers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/" class="navbar navbar-brand"><i class="fas fa-cube fa-2x"></i></a>
            </h1>
            <nav class="navbar navbar-brand p-3">
                <div>
                    <form class="search-review-form">
                        {{#if loggedIn}}
                        <button class="btn btn-sm btn-outline-primary btn-my-blocs" type="button">My Blocs</button>
                        <button id="logout" class="btn btn-sm btn-outline-primary btn-sign-out" type="button">Sign Out</button>
                        {{else}}
                        <button class="btn btn-sm btn-outline-primary btn-sign-in" type="button">Sign In</button>
                        <button class="btn btn-sm btn-outline-primary btn-register" type="button">Register</button>
                        {{/if}}

                        <input type="text" class="col-form-label-sm" id="searched-title" name="searched-title" placeholder="Enter Game Title" />

                        <button type="submit" class="btn btn-sm btn-outline-success search-btn" id="search-review-btn">
                            🔍
                        </button>
                    </form>
                </div>

            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer class="footer">
            ©️ 2021 James Canlas, Joseph Prospero, Joshua Rendon, and Kevin Tulakyan
        </footer>
    </div>

    <script src="/javascript/navbar.js"></script>
    
    {{#if loggedIn}}
        <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>