<!-- form for adding post -->
<section>
  <h2>Write a new Bloc</h2>

  <form class="search-game-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>

    <button type="button" class="btn btn-outline-primary" id="search-game-btn"><a href="">Search Title</a></button>
  </form>
</section>

<!-- Modal -->
<div class="modal-body">
  <div class="modal fade container-fluid modal-bg" id="createPostModal" tabindex="-1" role="dialog"
    aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-post container">
        <div class="modal-header row">
          <h5 class="modal-title" id="createPostModalLabel">I Played...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>

        <div class="modal-body row">
          <div class="col-md-1">
            <!-- title of the game searched -->
            <h4 id="searched-title" class=""></h4>
            <!-- image of game artwork -->
            <img src="" alt="game artwork" id="searched-artwork" class="">
          </div>


          <!-- form for content of post -->
          <div class="container-fluid col-md-6 ml-auto">
            
            <div>
              <form class="new-post-form rating">
                <input type="radio" name="star" id="star5"><label class="star" for="star5"></label>
                <input type="radio" name="star" id="star4"><label class="star" for="star4"></label>
                <input type="radio" name="star" id="star3"><label class="star" for="star3"></label>
                <input type="radio" name="star" id="star2"><label class="star" for="star2"></label>
                <input type="radio" name="star" id="star1"><label class="star" for="star1"></label>
              </form>
            </div>
            
            <div class="">
              <label for="post-content">What did you think of the game?</label>
              <textarea name="post-content"  class="form-control" id="post-review" rows="5" cols="5" style="min-width: 140%"></textarea>
            </div>

          </div>
        </div>
        <div class="modal-footer row">
          <button type="button" class="btn btn-primary btn-post">Post Review</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
<h3>
  Your Previous Blocs
</h3>
</div>

<div>
  {{#each posts as |post|}}
    {{> post-info post }}
    <a href="/dashboard/edit/{{post.id}}" class="edit-link pl-2">[Edit Post ✏️]</a>
  {{/each}}
</div>
  

<!-- script for adding post -->
<script src="./javascript/add-post.js"></script>