<div class="center">
  <div>
    <h1 class="jumbotron" href="/">
      Welcome to Bloc
    </h1>
    <p class="jumbotron">
      Game reviews by (real) gamers.
    </p>
  </div>
</div>

<h2>
  <a href="/">Recent Reviews</a>
</h2>

<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>