<div class="jumbotron jumbotron-fluid">
  <div class="container banner">
    <h1 class="display-4 banner">Welcome to Bloc <i class="fas fa-cube banner"></i></h1>
    <p class="banner">Game reviews by (real) gamers.</p>
  </div>
</div>

<div>
  {{> topgames }}
</div>

<h3>
  <p href="/">Recent Reviews</p>
</h3>

<div class="container">
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
</div>