

{{!-- <div class="center">
  <div>
    <h2 class="jumbotron p-3 mb-2 bg-primary text-white font-weight-bold" href="/">
      Welcome to Bloc
    </h2>
    <p class="">
      Game reviews by (real) gamers.
    </p>
  </div>
</div> --}}

<div class="jumbotron jumbotron-fluid">
  <div class="container banner">
    <h1 class="display-4 banner">Welcome to Bloc</h1>
    <p class="banner">Game reviews by (real) gamers.</p>
  </div>
</div>

<div class="mx-auto">
  {{> topgames }}
</div>

<h3>
  <a href="/">Recent Reviews</a>
</h3>

<div class="container">
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
</div>