<div class="center">
  <div>
    <h1 class="jumbotron" href="/">
      Welcome to Bloc
    </h1>
    <p class="jumbotron">
      Game reviews by (real) gamers.
    </p>
  </div>
</div>

<h4>
  <p href="/">Recent Reviews</p>
</h4>

<div class="container">
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
</div>