<div class="jumbotron jumbotron-fluid">
  <div class="container banner">
    <h1 class="display-4 banner">Welcome to Bloc</h1>
    <p class="banner">Game reviews by (real) gamers.</p>
  </div>
</div>

<div>
  {{> topgames }}
</div>

<h3>
  <a href="/">Recent Reviews</a>
</h3>

<div class="container">
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
</div>