<form class="login-form">
    <div>
        <label for="email-login">Email</label>
        <input type="text" id="email-login" />
    </div>
    <div>
        <label for="password-login">Password</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Sign In</button>
    </div>
    {{!-- <div class="section-action-conttainer">
        {{!-- <div class="twitch-button-container">  
            <button>Login in with Twitch</button>
        </div> --}}


        <a href="https://id.twitch.tv/oauth2/authorize?client_id=tbdzkwz03mlnnmguaoxqkp2ohuoqcb&redirect_uri=http://localhost:3001/&response_type=code&scope=user:read:email&state=" class="a-twitch">
            <div class="twitch-button-container">
                Login in with Twitch
            </div>
        </a>      
    </div> --}}
</form>

<script src="/javascript/login.js"></script>
