<article >
  <p class="">
    Bloc Search Results:
  </p>
  <div class="review-title">
    
  </div>

  <div class="container">
    {{#each posts as |post|}}
    {{> post-info post }}
    {{/each}}
  </div>
</article>

<script src="/javascript/reviews-pages.js"></script>