:root {
  --background: #131a22;
  --primary: #4361ee;
  --secondary: #4CC9F0;
  --tertiary: #fff;
  --title: #3a0ca3;
}

* {
  box-sizing: border-box;
  background-color: var(--background);
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  
}

.banner {
  background-color: var(--secondary);
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--tertiary);
}

a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  transition: color .1s;
}


button {
  background-color: var(--primary);
  border: 0;
  padding: 1%;
  color: var(--secondary);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid var(--tertiary);
  background-color: #ffff;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

.jumbotron {
  text-align: center;
  color: var(--title);
  background-color: var(--secondary);
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.rating{
  display: flex;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-75%, 20%);
  flex-direction: row-reverse;
}
.rating input{
  display: none;
}

.rating label{
  display: block;
  cursor: pointer;
  width: 40px;
}

.star::before{
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 40px;
  color: #101010;
}

.star::after{
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 40px;
  color: #FFD700 ;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked~label::after
{
  opacity: 1;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-btn {
  background-color: var(--primary);
  transition: background-color 0.5s;
}

.comment-btn:hover {
  background-color: var(--secondary);
}

.comment-form {
  margin-bottom: 5%;
}

.comment-text{
  padding-top: -2px;
}

.comment div,
.comment section {
  padding: 0.5%;
  margin-bottom: 1%;
  background-color: var(--secondary);
  color: var(--title);
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.modal-post {
  border: var(--tertiary) 2px solid;
    max-width: inherit;
}
/* .a-twitch{
  text-decoration: none;
}

.twitch-button-container{
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  background: #9147ff;
}
.twitch-button-container:hover{
  background: #772ce8;
} */

body {
  background: var(--background);
}

.modal-bg {
  background: none;
}

.modal-backdrop {
  opacity: 0.2;
}

.bloc-box div {
  background-color: var(--secondary);
  color: var(--title);
}

.bloc-box p {
  background-color: var(--secondary);
  color: var(--title);
}

.bloc-box h4 {
  background-color: var(--secondary);
  color: var(--title);
}

.bloc-box h4 {
  background-color: var(--secondary);
  color: var(--title);
}

.topgames {
  align-items: center;
}

.review-title {
  font-size: 48px;
}